* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    
    button:hover{
        background-color: black
    }
    
    #button-1{
        font-family: DM sans, sans-serif;
        color: #F9F9F9;
        background-color: #69B99D;
        height: 50px;
        width: 218px;
        border-radius: 4px;
        border: none;
        margin-top: 20px;
        transition: background 0.3s;
    }
    
    h1{
        font-family: Poppins, sans-serif;
        font-size: 30px;
        line-height: 45px;
    }
    
    p{
        font-family: DM sans, sans-serif;
        color: #767676;
        margin-top: 10px;
    }
    
    #logo{
        text-decoration: none;
        font-family: Poppins, sans-serif;
        color: black;
        font-size: 21px;
        font-weight: 700;    
        height: 40px;
        width: 80px;
        margin-left: 30px;
        align-items: center;
    }
    
    span{
        color: #69B99D;
    }

    li{
        
        list-style: none !important;
        font-family: Poppins, sans-serif !important;
        font-size: 21px !important;
        font-weight: 700 !important;  
        
    }

    a{
        text-decoration: none;
        
    }
    
    #header{
        display: flex;   
        background-color: #F9F9F9;
        justify-content: space-between;
        height: 72px;
        align-items: center;
        border-bottom: 1px solid rgb(207, 207, 207);
        width: 100%;
    }

    .icons-menu.on{
        position: fixed;
        background-color: white;
        width: unset;
        height: unset;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
    }

    .button-image:hover{
        background-color: transparent;
    }
    
    .icons-menu.on #hamburguer{
        display: none;
    }

    #hamburguer{      
        position: absolute;
        right: 5%;
        top: 4%;
    }

    .icons-menu.on #close{
        display: block;
        position: absolute;
        left: 5%;
        top: 4%;
    }

    .button-image{
        background: transparent;
	    border: 0;
	    line-height: 0;
    }

    #close{
        display: none;
    }

    .icons-menu.on #lista{
        height: 100vh;
    }

    .icons-menu.on ul{
        display: flex;   
        flex-direction: column; 
        text-align: center; 
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
        margin-top: 12rem;
    }

    ul{
        display: none;
    }

    .letras-menu{
        color: black;
    }

    .letras-menu:hover{
        color: #69B99D;
        transition: 0.2s;
    }

    
    
    #section-1{
        display: flex;
        background-color: #F9F9F9;
        height: 730px;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid #69B99D;
    }
    
    #imgs-1{
        position: relative;
        height: 20rem;
        width: 100%;
    }
    
    #img-1{
        position: absolute;
        height: 14rem;
        width: 85%;
        border-radius: 4px;
        object-fit: cover;
        top: 5rem;
    }

    #back-img-1{
        position: absolute;
        height: 14rem;
        width: 85%;
        background-color: #CCF4E6;
        border-radius: 4px;
        top: 3rem;
        left: 15%;
    }

    #imgs-1.on{
        display: none;
    }
    
    #info-1{
        display: flex;
        flex-direction: column;
        height: 18rem;
        width: 85%;
        margin-top: 70px;
        justify-content: center; 
        align-items: center;
        padding: 10px;
        margin: 7%;
        text-align: center;
    }
    
    #section-2{
        display: flex;
        height: 1131px;
        background-color: #F9F9F9;
        flex-direction: column;
        border-bottom: 1px solid #69B99D;
    }

    #imgs-2{
        position: relative;
        display: flex;
        height: 20rem;
        width: 100%;
    }
    
    #info-2{
        display: flex;
        width: 85%;
        height: 650px;
        padding: 10px;
        margin: 7%;
        flex-direction: column;
    }
    
    h1{
        font-family: Poppins, sans-serif;
        font-size: 30px;
        line-height: 45px;
    }
    
    #imagem-2{
        position: absolute;
        top: 4rem;
        height: 17rem;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    #back-2{
        position: absolute;
        left: 0;
        top: 2.5rem;
        background-color: #CCF4E6;
        width: 60%;
        height: 10rem;
        border-radius: 4px;
    }
    
    #section-2{
        display: flex;
        height: 1131px;
        background-color: #F9F9F9;
        flex-direction: column;
        border-bottom: 1px solid #69B99D;
    }
    
    #info-2{
        display: flex;
        width: 85%;
        height: 650px;
        padding: 10px;
        margin: 7%;
        flex-direction: column;
    }
    
    h1{
        font-family: Poppins, sans-serif;
        font-size: 30px;
        line-height: 45px;
    }
    
    #img-2{
        display: flex;
        height: 17.5rem;
        width: 100%;
        margin-top: 6.3rem;
        object-fit: cover;
    }
    
    #section-3{
        flex-wrap: wrap;
        display: flex;
        background-color: #F9F9F9;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #69B99D;  
        justify-content: center;
        gap: 1.875rem;
    }
    
    #info-3{
        display: flex;
        width: 85%;
        height: 180px;
        padding: 10px;
        margin-top: 5%;
        flex-direction: column;
    }
    
    #icone-1{
        background-color: #F9F9F9;
        display: flex;
        width: 85%;
        max-width: 20rem;
        height: 372px;
        padding: 1px;      
        flex-direction: column;
        align-items: center;
        text-align: center;  
        gap: 1rem;      
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        border-bottom: 3px solid #69B99D;
        
    }
    
    #img-3{
        height: 80px;
        width: 80px;
        margin-top: 20%;
    }
    
    #icone-2{
        background-color: #F9F9F9;
        display: flex;
        width: 85%;
        max-width: 20rem;
        height: 372px;
        padding: 10px;      
        flex-direction: column;
        align-items: center;
        text-align: center;     
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        border-bottom: 3px solid #69B99D;
        gap: 1rem; 
        
    }
    
    #img-4{
        height: 80px;
        width: 80px;
        margin-top: 20%;
    }
    
    #icone-3{
        background-color: #F9F9F9;
        display: flex;
        width: 85%;
        max-width: 20rem;
        height: 372px;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;    
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        border-bottom: 3px solid #69B99D;
        gap: 1rem; 
        margin-bottom: 50px;
    }
    
    #img-5{
        height: 80px;
        width: 80px;
        margin-top: 20%;
    }
    
    #section-4{
        display: flex;
        height: 703px;
        width: 100%;
        background-color: #F9F9F9;
        flex-direction: column;
        border-bottom: 1px solid #69B99D;
        align-items: center;
    }
    
    #info-4{
        display: flex;
        width: 85%;
        height: 180px;
        padding: 10px;
        margin: 7%;
        align-items: center;
        
    }

    .swiper-pagination-bullet{
        height: 0.55rem;
        width: 0.5rem;
    }

    .swiper-pagination-bullet-active{
        background: #69B99D;
    }


    .swiper-slide {
        font-family: DM sans, sans-serif;
        font-size: 16px;
    }

    .card{
        flex-direction: column; 
        display: flex;
        height: auto;
        width: 20rem;
        padding: 0.5rem;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
        justify-content: center;
    }

    .people{
        display: flex;
        width: 85%;
        height: 5rem;
        margin-left: 1rem;
        align-items: center;
    }

    .photo{
        display: flex;
        height:2rem;
        width: 2rem;
        clip-path: circle();
    }

    .nomes{
        font-family: DM Sans, sans-serif;
        font-size: 16px;
        color: #767676;
        margin-left: 0.5rem;
    }

    .depoimento{
        display: flex;
        height: 10rem;
        width: 15rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    
    #section-5{
        display: flex;
        height: 530px;
        width: 100%;
        background-color: #F9F9F9;
        flex-direction: column;
    }

    #info-5{
        flex-direction: column;
        height: 250px;
        display: flex;
        width: 85%;
        padding: 10px;
        margin-left: 7%;
        margin-top: 5%;
    }
    #button-2{
        display: flex;
        font-family: DM sans, sans-serif;
        color: #F9F9F9;
        background-color: #69B99D;
        height: 56px;
        width: 218px;
        border-radius: 4px;
        border: none;
        margin-top: 20px;
        transition: background 0.3s;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    #contatos{
        display: flex;
        height: 50px;
        width: 85%;
        padding: 10px;
        gap: 0.5rem;
        align-items: center;
        margin-left:7%;
    }

    #contatos-2{
        display: flex;
        height: 50px;
        width: 85%;
        padding: 10px;
        gap: 0.5rem;
        align-items: center;
        margin-left:7%;
    }

    #contatos-3{
        display: flex;
        height: 50px;
        width: 85%;
        padding: 10px;       
        gap: 0.5rem;
        align-items: center;
        margin-left:7%;
    }

    #footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        background-color: #69B99D;
    }

    #informacoes-footer{
        flex-direction: column;
        height: 130px;
        display: flex;
        width: 85%;
        padding: 10px;
        margin-left: 7%;
        margin-top: 3rem;
    }

    #span-white{
        color: #F9F9F9;
        font-size: 25px;
    }

    #h1-footer{
        font-size: 25px;
    }

    #p-footer{
        color: #F9F9F9;
        font-size: 15px;
    }

    #icones-footer{
        height: 130px;
        display: flex;   
        width: 1rem;
        margin-left: 8%;
        margin-bottom: 1.574rem;
        gap: 2rem;
    }


    @media (min-width : 500px){
        #section-2{
            height: 900px;
        }

        #info-2{
            margin-top: 24%;
        }

    }

    @media (min-width: 750px){
        #img-1{
            height:20rem;
        }

        #back-img-1{
            height:20rem;
        }
    }

    @media (min-width:800px){

        ul{
            position: absolute;
            display: flex;
            flex-direction: initial;
            right: 3%;
            top:2.7%;
            gap: 2rem;
            
        }

        li{
            font-family: DM sans, sans-serif;
            height: 400;
            size: 16px;
        }

        .letras-menu{
            font-family: DM sans, sans-serif;
            font-weight: 400 !important;
            font-size: 16px;
            color: #0f241d;
        }

        .letras-menu:hover{
            border-bottom: 3px solid #69B99D;
            margin-top: 10px;
        }

        #hamburguer{
            display: none;
        }
    }
   

    @media (min-width: 1000px){
        #section-1{
            flex-direction: row-reverse;
            height: 550px;
        }

        #info-1{
            margin-right: 10rem;
            width: 25rem;
            align-items: initial;
            text-align: initial;
        }

        #img-1{
            height: 20rem;
            top: 4rem;
        }

        #back-img-1{
            height: 20rem;
            top:0;
            width: 80%;
        }

        #imgs-1{
            top: 3rem;
            position: relative;
            height: 28rem;
            width: 70%;
            right: 2rem;
        }

        #section-2{
            flex-direction: initial;
        }

        #imgs-2{
            width: 45%;
        }

        #info-2{
            width: 55%;
            margin-top: 6%;
            height: 20rem;
            margin: 2rem;
            margin-left: 2rem;
        }

        #imagem-2{
            height: 20rem;
            width: 100%;
        }

        #section-2{
            height: 570px;
        }

        #section-4{
            flex-direction: initial;
        }

        #info-4{
            width: 20rem;
            margin-left: 10%;
        }

        .swiper{
            margin-left: 10%;
            max-height: 25rem;
        }

    }


    
    